/*  ========General styles========  */
*,
*:before,
*:after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
html,
body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	/* font-size: ;
	font-family: ''; */
	scroll-behavior: smooth; 
}
input,
label{
	cursor: pointer;
}

/* Slider */
.slider{
	height: 100vh;
	width: 100%;
	max-width: 100vw;
	border: 1px solid red;
	padding: 1%;
}