/*  ========General styles========  */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
html,
body{
	font-size: 1.3rem;
	font-family: 'Arial';
	scroll-behavior: smooth; 
}
input{
	display: none;
}
label {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
	cursor: pointer;
}

/* Slider */
.slider{
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	padding: 3% 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 3rem;
}
.slider__wrapper{
	width: 70%;
	height: auto;
	overflow: hidden;
	border: 1px solid green;
}
.slider__items{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.slider__item{
	flex: 100% 0 0;
}
.slider__item img{
	width: 100%;
	height: 100%;
}

.slider__controls{
	display: flex;
	width: 70%;
	justify-content: space-between;
}
.slider__text{
	height: 3rem;
	overflow: hidden;
}
.slider__text-items{
	display: flex;
	justify-content: flex-start;
}
.slider__text-items p{
	flex: 100% 0 0;
	line-height: 3rem;
}

.slider__pag{
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: .5rem;
}
.slider__label{
	width: 1.8rem;
  height: 1.8rem;
	border: solid green;
  border-radius: 50%;
}
.slider__label:hover{
  background-color: yellow;
}

/* Move slides and change text */
#slideOne:checked ~ .slider__wrapper > .slider__items,
#slideOne:checked ~ .slider__controls .slider__text-items{
	transform: translateX(0);
}
#slideTwo:checked ~ .slider__wrapper > .slider__items,
#slideTwo:checked ~ .slider__controls .slider__text-items{
	transform: translateX(-100%);
}
#slideThree:checked ~ .slider__wrapper > .slider__items,
#slideThree:checked ~ .slider__controls .slider__text-items{
	transform: translateX(-200%);
}
#slideFour:checked ~ .slider__wrapper > .slider__items,
#slideFour:checked ~ .slider__controls .slider__text-items{
	transform: translateX(-300%);
}

/* Change active paggination button */
#slideOne:checked ~ .slider__controls .slider__label-one,
#slideTwo:checked ~ .slider__controls .slider__label-two,
#slideThree:checked ~ .slider__controls .slider__label-three,
#slideFour:checked ~ .slider__controls .slider__label-four{
	background-color: green;
}
